/* globals.css */

/* Reset básico para garantir consistência em todos os navegadores */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Aplicando a fonte global */
:root {
  --font-family-base: var(--font-robeert); /* Fonte customizada */
}

/* Estilização global */
body {
  position: relative;
  font-family: var(--font-family-base), sans-serif;
  line-height: 1.5; /* Aumenta a legibilidade */
  -webkit-font-smoothing: antialiased; /* Suaviza fontes no macOS */
  -moz-osx-font-smoothing: grayscale; /* Suaviza fontes no Firefox */
  background-color: #000; /* Cor de fundo branca */
  color: #111; /* Cor de texto padrão */
  min-height: 100vh;
}

/* Links padrão */
a {
  color: inherit;
  text-decoration: none;
}

/* Imagens responsivas */
img {
  max-width: 100%;
  height: auto;
}

/* Remover estilo padrão de listas */
ul, ol {
  list-style: none;
  padding-left: 0;
}

/* Estilos para botões */
button {
  cursor: pointer;
  font-family: inherit;
}

i {
  font-family: var(--font-playFair);
  font-style: italic;
}

.animate-pause {
  animation-play-state: paused;
}

.dark {
  --background: #000000;
  --text: #ffffff;
}